:root {
  --hsl-primary: 252 100% 55%;
  --hsl-primary-light: 252 100% 65%;
  --hsl-accent: 163 100% 50%;

  --hsl-dark: 0 0% 15%;
  --hsl-darker: 0 0% 10%;
  --hsl-light: 0 0% 90%;
  --hsl-lighter: 0 0% 95%;
  --hsl-black: 0 0% 0%;
  --hsl-white: 0 0% 100%;

  --hsl-bg: var(--hsl-light);
  --hsl-bg-highlight: var(--hsl-lighter);
  --hsl-text: var(--hsl-darker);

  --hsl-outline: var(--hsl-dark);

  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;


  --shadow-outline: 0 0 0 2px hsl(var(--hsl-primary));
}

.dark {
  --hsl-bg: var(--hsl-darker);
  --hsl-bg-highlight: var(--hsl-dark);
  --hsl-text: var(--hsl-light);

  --hsl-outline: var(--hsl-light);
}

html,
body {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  font-family: 'Lato', sans-serif;
  line-height: 1.5;

  color: hsl(var(--hsl-text));
  background-color: hsl(var(--hsl-bg));
}

#__next {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: inherit;

  transition: background-color 50ms ease-out, color 50ms ease-out;
}
